# Node
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db

# Build
frontend/dist/
frontend/node_modules/

# Data
frontend/public/internships.csv
